form {
  border: 3px solid #f1f1f1;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	
	}
 input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

header{
  display: block;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;

}
input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  background: #1abc9c;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type="reset"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  background: #1abc9c;
}

input[type=reset]:hover {
  background-color: #45a049;
}

a {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

